    body {  color:black;
            background-color: #99cccc;
            background-image: url(images/worldTravel6.jpg);
            background-repeat:no-repeat;
            background-size: 100%;
            
         }
         

